<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.group5.quicksub"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label=""
        android:theme="@style/Theme.Quickaction" >
        <activity
            android:launchMode="singleTask"
            android:name="com.group5.quicksub.Main"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewSub1"
            android:label="@string/title_activity_new_sub1" >
        </activity>
        <activity
            android:name="com.group5.quicksub.NewSub2"
            android:label="@string/title_activity_new_sub2" >
        </activity>
        <activity
            android:name="com.group5.quicksub.NewSub3"
            android:label="@string/title_activity_new_sub3" >
        </activity>
        <activity
            android:name="com.group5.quicksub.NewSub4"
            android:label="@string/title_activity_new_sub4" >
        </activity>
        <activity
            android:name="com.group5.quicksub.NewSub5"
            android:label="@string/title_activity_new_sub5" >
        </activity>
        <activity
            android:name="com.group5.quicksub.NewSub6"
            android:label="@string/title_activity_new_sub6" >
        </activity>
        <activity
            android:name="com.group5.quicksub.NewSub7"
            android:label="@string/title_activity_new_sub7" >
        </activity>
        <activity
            android:name="com.group5.quicksub.NewSub8"
            android:label="@string/title_activity_new_sub8" >
        </activity>
        <activity
            android:name="com.group5.quicksub.SaveSub"
            android:label="@string/title_activity_save_sub" >
        </activity>
        <activity
                android:name=".SavedSubs"
                android:label="@string/title_activity_saved_subs">
        </activity>
        <activity
                android:name=".CombineOrder"
                android:label="Choose order to combine with"/>
    </application>
</manifest>
